/* fuente para el documanto */
* {
    letter-spacing: 0.5px;
}

/* tipos de fuentes */
body {
    font-family: Open sans-serif;
    font-size: 20px;
}

h1 {
    font-family: 'Libre Baskerville', serif;
}

h2,
h3 {
    font-family: 'Lato', sans-serif;
}

/* header */
.header {
    background-color: rgb(207, 232, 247);
    max-width: 100%;
    max-height: 100%;
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    /* align-content: center; */
    justify-content: center;
}

.logo {
    font-size: small;
    width: 170px;
    rotate: -15deg;
    padding-left: 350px;
    padding-top: 150px;
    position: relative;
    margin-left: 250px;
    float: left;

}

.headertitle {
    text-align: center;
    justify-content: left;
   


}

h1 {
    font-size: 45px;
    color: rgb(170, 167, 167);
    text-align: right;
    padding-right: 620px;
    color: #A9A9A9;
    margin-left: 0px;



}

.pTitle {
    font-weight: bold;
    text-align: right;
    padding-right: 620px;
    font-size: small;
    font-weight: bold;
    color: #181817;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;


}

/* nav */
nav {
    background-color: #114358;
    justify-content: center;
    padding: 1px;
    max-width: 100%;
    max-height: 100%;
    border-bottom: 2px rgb(150, 150, 250) dotted;
}

.ulNav {
    text-align: center;
    align-items: center;
    padding-right: 750px;

}

/* efectos Nav */
a:hover {
    background-color: black;
    transform-style: flat;
    size: 20px;
    color: #ffff;
    text-transform: uppercase;
    transition-duration: 1.5s;
    /*  transition-duration: 2s;
    transition-duration: 0.5s; */

}

/* Navbar a individuales */
.a1 {
    color: #F2AA1F;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    padding-right: 20px;
}

.a2 {
    text-decoration: none;
    color: #F2AA1F;
    text-shadow: 0.5px 0.5px 0.5px #e7cc34;
    font-size: 18px;
}

.a3 {
    text-decoration: underline 2px solid;
    font-weight: bold;
    color: #F2AA1F;
    font-size: 18px;
    text-shadow: 0.5px 0.5px 0.5px #e7cc34;
    padding-left: 20px;
}


/* seccion tabla */
.section1 {
    font-size: x-large;
    margin-top: 2em;
    margin-bottom: 3em;

}

/* title tabla */
.title {
    text-align: center;
    font-size: 60px;
    color: #0A3143;
}

/* tabla caja completa */
table {
    width: 100%;
    height: 100%;
    align-content: center;
    text-align: left;
    vertical-align: middle;
    display: inline-block;
    /*  border: white 20px solid; */
    margin-left: 22em;

}

/* th todas y elimina el rosa ultimo 13 marzo  */
th {
    background-color: #ffff;
    font-size: 20px;
    font-weight: 200px;
    padding: 3px;
    border: white 2px solid;


}

/* thead rojos de las columnas */
thead>tr>th {
    background-color: #FF3B3F;

}

/* coloreamos las columnas pares */
tr:nth-child(even) {
    background-color: rgb(241, 121, 121);
    color: black;
    padding: 30px;
}

/* titulo de la tabla */
table>caption {
    font-size: 16px;
    text-align: center;
    background-color: black;
    color: azure;
    word-spacing: 2px;
    letter-spacing: 2px;


}

/* todos  */
table>td {
    text-align: center;
    display: inline-block;
    align-content: flex-end;
    padding-left: 400px;
    font-size: 12px;
    letter-spacing: 2px;


}

/* intento de colorear lel border bottom */
/* .subrayada {
    border-bottom: #181817 5px solid;
} */

#tdborder1, #tdborder2,  #tdborder3,  #tdborder4,  #tdborder5,  #tdborder6,  #tdborder7,  #tdborder8{
    box-sizing: border-box;
    border: 5px solid #CCEAF4;
}

table tfooter td {
    font-size: 14px;
    padding-top: 3px;
    padding-bottom: 5px;
    font-weight: bold;
}
#tfoot{
    background-color: rgb(198, 53, 53);
    text-align: center;
}

.a-inscripcion {
    text-decoration-color: blue;
    text-decoration: underline;
    color: blue;
    border-bottom: rgb(230, 10, 238) 2px dotted;
    margin-left: 0px;
    margin-right: 2px;

}

/* seccion 3 */
.section3 {
    background-color: #648da0;
    padding-left: 320px;

}

#h2 {
    font-size: 50px;

}

/* columnas de la sectio3 */
.columns {
    display: inline-block;
    text-align: left;
    position: relative;
    text-decoration: none;

}

.col1 {
    float: left;
    list-style: none;
    text-align: left;
    font-size: 25px;
    line-height: 40px;




}

/* titulos de las listas */
.col1 li h4 {
    width: 70%;
    background-color: rgba(78, 115, 130, 0.865);
}

.col2 li h4 {
    width: 90%;
    background-color: rgba(78, 115, 130, 0.865);
}

.col3 li h4 {
    width: 90%;
    background-color: rgba(78, 115, 130, 0.865);
}

.col1 li {
    font-weight: lighter;
}

.col2 {
    float: left;
    list-style: none;
    list-style: none;
    text-align: left;
    font-size: 25px;
    line-height: 40px;
}

.col2 li {
    font-weight: lighter;
}

.col3 {
    float: left;
    list-style: none;
    text-align: left;
    font-size: 25px;
    line-height: 40px;
    padding-right: 900px;
}

.col3 li {
    font-weight: lighter;
}

footer {
    background-color: black;
    padding: 5px;
    line-height: 30px;
    margin-top: 0px;
}

p {
    padding-left: 20em;
    letter-spacing: 3px;
    color: white;
}